body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  align-content: center;
  background-color: #E1E4E7;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.student_info{
  font-family: 'Raleway', sans-serif;
  align-content: center;
}
.profile_pic{
  height: auto;
  Width: 80px;
}
.grid{
  display: grid;
  grid-template-columns: 200px auto;
  border-radius: 25px;
  background: #FFFFFF;
  padding: 20px 20px;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% /1.1);
  height: calc(100% / 1.2);
  overflow: auto;
  margin-top: 5%;
 
}
#search{
  grid-column: 1/3;
 
}
.wrapper{
  width: 100vw;
  height: 100vh;
  background-color: #E1E4E7;
  
}
input{
  display: block;
  width: 100%;
  height: 50px;
}
image{
  width: 200px;
}
