body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  align-content: center;
  background-color: #E1E4E7;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.student_info{
  font-family: 'Raleway', sans-serif;
  align-content: center;
}
.profile_pic{
  height: auto;
  Width: 80px;
}
.grid{
  display: grid;
  grid-template-columns: 100px auto;
  border-radius: 25px;
  background: #FFFFFF;
  padding: 20px 20px;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% /1.1);
  height: calc(100% / 1.2);
  overflow: auto;
  margin-top: 5%;
 
}
#search{
  grid-column: 1/3;
 
}
.wrapper{
  width: 100vw;
  height: 100vh;
  background-color: #E1E4E7;
  
}
input{
  display: block;
  width: 100%;
  height: 50px;
}
img{
  width: 100%;
}
.name{
  font-size: xx-large;
 margin-bottom: 0%;
 margin-top: 0%;
 margin-right: auto;
 text-indent: 0px;
}
.info{
  text-indent: 50px;
  margin-bottom: 0%;
    margin-top: 0%;
    margin-right: auto;
}
div{
  margin-bottom: 25px;
}
div.circletag {
  display: block;
  width: 40px;
  height: 40px;
  background: #E6E7ED;
  text-align: center;
  align-content: center;
  align-items: center;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 100%;
  height: 55%;
  max-width: 100%;
  max-height: 100px;
  overflow: hidden;
}